---
const year = new Date().getFullYear();
---

<footer class="footer">
    <div>
        <p>
            <strong> © {year} Sebastian Garcia</strong>
        </p>
        <p>Software Engineer</p>
        <p>Bogotá, Colombia</p>
    </div>
</footer>
