<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="theme-color" content="f6f6f6" />
        <meta name="description" content="Sebastian Garcia Resume." />
        <meta name="keywords" content="CV,Software,Engineer,Resume" />
        <meta name="author" content="Sebastian Garcia" />
        <title>Sebastian Garcia</title>
    </head>
    <body>
        <slot />
    </body>
</html>
